<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
</head>
<body>
    <h1>Secret Page!</h1>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-info">Logout</button>
    </form>
    
</body>
</html>